# Godot-specific files
.import/
.export/
export.cfg
export_presets.cfg
.godot/

# Godot Mono (C#) files
.mono/
data_*/       # Temporary build data for Mono
*.csproj
*.sln
*.user
*.mono/

# Build output
bin/
build/
*.exe
*.dll
*.so
*.dylib
*.apk
*.aab
*.pck
*.zip

# Temporary and swap files
*.tmp
*.temp
*~
*.swp
*.res

# OS / Editor files
.DS_Store
Thumbs.db
desktop.ini

# Editor and tooling
.vscode/
.idea/
node_modules/

# Project-specific ignored files
gifs/
mpf/logs/
*_debug_log.txt
*.dmp
crash.txt
mpf-vpcom-bridge.txt
*.vpx
*.ini
mpf080/
*.lnk
*.log
bcplog.txt
log.txt
scripts/dest/
glf_mpf/
glf_logs/
